
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    margin:auto;
    padding-top: 50px;
    width: 50%;
}

table, th, td {
    border: 1px solid black;
}

table {
    float: left;
    background-color: grey;
    margin-right: 20px;
}

th, td {
    padding: 0px;
    /*background-color: white;*/
    padding-left: 2px;
    padding-right: 2px;
}

section {
    float: left;
}

a {
    margin-right: 5px;
}

a:hover {
    color: orange;
}

.inputLabel {
    width: 185px;
    display: inline-block;
}

input:focus {
    background-color: lightyellow;
}

input {
    /*font-size: 10pt;*/
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: inline-block;
    margin-right: 5px;
}

tr:nth-child(odd) {
    background-color: #E6E6E6;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

td form input {
    margin: 4px 1px 0px 2px;
}